.swap-form {
  display: grid;
  grid-template-rows: repeat(3, auto);
  place-items: center;
  gap: 16px;
}

.container {
  display: flex;
  width: 400px;
  flex-direction: column;
  gap: 16px;
}

.currency-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.currency-select {
  width: 250px;
}

.currency-option {
  display: flex;
  color: #313131;
  gap: 8px;
}

.currency-option .__image {
  width: 24px;
  height: 24px;
}
